.tables table tbody tr td.odds button {
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    border: none;
}

button {
    background: linear-gradient(180deg, #BBBB, #BBBB 50%, #EFEFEF, #EFEFEF 50%);
}

button:hover {
    background-color: #808080;
}

.tables table tbody tr td.odds button span.left {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    align-items: center;
}

.tables table tbody tr td.odds button.wrap span.right {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    align-items: center;
}