.elaboration-container {
    width: auto;
    font-size: 14px;
    border: 2px solid #398534;
    border-radius: 5px;

    & .top-div {
        background-color: #398534;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
        display: grid;
        align-items: center;
        text-align: center;
        row-gap: 10px;
    }

    & .market-name-div {
        background-color: yellow;
    }

    & .tables {
        & table {
            width: 100%;

            & tr {
                display: inline;

                & .odds {
                    display: -webkit-inline-flex;

                    & .odd-button {
                        position: inherit;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 1fr;
                        column-gap: 5px;
                        align-items: center;
                        text-align: center;
                        padding-left: 0px;
                        padding-right: 0px;
                        width: 100px;
                        cursor: pointer;
                        border-radius: 4px;
                        border: none;
                        height: 20px;
                        background: linear-gradient(90deg, #BBBB, #BBBB 50%, #EFEFEF, #EFEFEF 50%);
                    }

                    & .odd-button:hover {
                        background: linear-gradient(90deg, #8D8D8D, #8D8D8D 50%, #8D8D8D, #8D8D8D 50%);
                    }
                }
            }
        }
    }

    & .tables table .market-name {
        width: 100%;
        padding: 3px 0;
        background-color: #DDDD;
        border-collapse: collapse;
    }

    & li {
        list-style: none;
        margin-bottom: 10px;
    }
}

#scroller::-webkit-scrollbar{
    width: 8px;
    border-radius: 4px;
    padding-left: 2px;
}
#scroller::-webkit-scrollbar-thumb{
    background: #272b31;
    border-radius: 4px;
}
#scroller::-webkit-scrollbar-track{
    background: #bbb;
}