.tables table tbody tr td.odds button{
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    border:none;
}

.tables table tbody tr td.odds button span{
    font-size: 13px;
    display: inline;
}

button {
    background: linear-gradient(90deg, #BBBB, #BBBB 50%, #EFEFEF,#EFEFEF 50%);
}

.tables table tbody tr td.odds button span.left{
    width: 50%;
    display: inline-block;
    overflow: hidden;
    align-items: center;
}

.tables table tbody tr td.odds button.wrap span.right{
    width: 50%;
    display: inline-block;
    overflow: hidden;
    align-items: center;
}
