<div class="top-div" *ngIf="SelectedMatch!=undefined">
    <div>
        <a *ngIf="SelectedMatch!=undefined">{{SelectedMatch.SelectedMatch?.sportName}}</a>
        <a *ngIf="SelectedMatch!=undefined">{{" > " + SelectedMatch.SelectedMatch?.countryName}}</a>
        <a *ngIf="SelectedMatch!=undefined">{{" > " + SelectedMatch.SelectedMatch?.leagueName}}</a>
    </div>
    <div class="second-div">
        <p *ngIf="SelectedMatch!=undefined">{{SelectedMatch.SelectedMatch?.competitors}}</p>
        <p *ngIf="SelectedMatch!=undefined">{{SelectedMatch.SelectedMatch?.matchDate}}</p>
    </div>
</div>
<div class="tables">
    <table *ngFor="let market of loadMarkets()">
        <li class="market-name">
            {{market.name}}
        <li>
            <tbody>
                <tr>
                    <td>
                        <span>
                            {{market.competitors}}
                        </span>
                    </td>
                    <td *ngFor="let data of market.odds" class="odds">
                        <button (click)="OnButtonClicked(data)">
                            <span class="left">{{data.field}}</span>
                            <span class="right">{{data.value}}</span>
                        </button>
                    </td>
                </tr>
            </tbody>
    </table>
</div>