<div class="tables" >
    <table>
        <tbody>
            <tr *ngFor="let market of loadMarkets()">
                <td>
                    <span>
                        {{market.name}}
                    </span>
                </td>
                <td *ngFor="let data of market.odds" class="odds">
                    <button (click)="OnButtonClicked(data)">
                            <span class="left">{{data.field}}</span> 
                            <span class="right">{{data.value}}</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>