ul{
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

li{
    width: 180px;
    line-height: 30px;
}



ul li a{
    padding-left: 10px;
    width: 100%;
    height: 30px;
    /* color: white; */
    /* background-color: #272B31; */
}

ul li{
    background-color: #272B31;
}
ul li:hover {
    cursor: pointer;
    background-color: #808080;
    color: orange;
}
ul li a:hover{
    color: orange;
}
ul li>ul li{
    background-color: #808080;
    color:black;
}
ul li>ul li:hover{
    background-color: #272B31;
}

ul li>ul li>ul li{
    background-color: #BBBBBB;
    color: black;
}
ul li>ul li>ul li:hover{
    background-color: #272B31;
    color: orange;
}


