<div class="ticket-div">
    <body>
        <table>
            <tbody *ngFor="let data of MatchOdds">
                <tr>
                    <td>{{data.competitors}}</td>
                    <td></td>
                    <td><button class="button-remove-item" (click)="RemoveOdd(data)">X</button></td>
                </tr>
                <tr>
                    <td>{{data.sportName}}</td>
                    <td>{{data.countryName}}</td>
                    <td>{{data.Oddfield}}</td>
                </tr>
                <tr>
                    <td>{{data.matchDate}}</td>
                    <td></td>
                    <td>{{data.Oddvalue}}</td>
                </tr>
            </tbody>
        </table>
        <button class="print-ticket">Ispiši tiket</button>
    </body>
</div>