:host{
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

#modal-container{
    position: absolute;
    box-shadow: 5px 5px 6px #ccc;
    background-color: #fff;
     & .close-btn{
        & .icon-remove-item{
            margin-top: 5px;
            margin-right: 5px;
            float: right;
        }
    }
    & .element.modal-content{
        margin-bottom: 5%;
    }
}

#scroller::-webkit-scrollbar{
    width: 8px;
    border-radius: 4px;
    padding-left: 2px;
}
#scroller::-webkit-scrollbar-thumb{
    background: #272b31;
    border-radius: 4px;
}
#scroller::-webkit-scrollbar-track{
    background: #bbb;
}


