.container{
    width: auto;
    & .table-div {
        background-color: white;
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 15px;
        margin-bottom: 2px;
        color: black;
    }
    & .top-div {
        background-color: #398534;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
}

td:hover {
    cursor: pointer;
}

ul {
    display: inline;
}

li {
    display: inline;

}

.Button {
    height: 20px;
    width: 35px;
    border: none;
    border-radius: 3px;
}

.Button:hover {
    background-color: #808080;
    cursor: pointer;
}

table {
    table-layout: initial;
    width: 600px;
    border-spacing: 0;
}

th.odd {
    width: 40px;
}

td.match {
    width: 300px;
    padding-left: 10px;
}

td.date {
    width: 110px;
}

tr.match-odds-row:hover {
    background-color: #DDDD;
}