.container {
    width: auto;
    height: auto;
    border: 2px solid #398534;
    border-radius: 6px;
    font-size: 14px;

    & .table-div {
        background-color: white;
        margin-top: 15px;
        margin-bottom: 2px;
        color: black;
    }

    & .top-div {
        background-color: #398534;
        color: white;
        height: auto;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    & ul {
        display: inline;
        padding: 0px;
        & li {
            display: inline;
        }
    }

    table {
        table-layout: initial;
        width: auto;
        border-spacing: 0;
        width: 100%;

        & th.odd {
            min-width: 40px;
        }

        & td.match {
            min-width: 100px;
            padding-left: 10px;
        }

        & td.date {
            min-width: 110px;
        }

        & td{
            border-bottom: 1px solid #DDDDDD;
            & button{
                margin-left: 25%;
            }
        }

        & tr.match-odds-row:hover {
            background-color: #DDDD;
        }

        & td:hover {
            cursor: pointer;
        }

        .Button {
            height: 20px;
            width: 35px;
            border: none;
            border-radius: 3px;
        }

        .Button:hover {
            background-color: #808080;
            cursor: pointer;
        }
    }
}

#scroller::-webkit-scrollbar{
    width: 8px;
    border-radius: 4px;
    padding-left: 2px;
}
#scroller::-webkit-scrollbar-thumb{
    background: #272b31;
    border-radius: 4px;
}
#scroller::-webkit-scrollbar-track{
    background: #bbb;
}